.breadcrumbs{
    display: flex;
    align-items: center;
    padding: 5px 40px;
    background-color: var(--gray-light);
    width: 100vw;
}

.bread-list{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bread-item, .bread-break{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.bread-hover:hover{
    border-bottom: 2px solid black;
}
