body {
    background-image: url("../imgs/moroccan-flower.6183e7e4ca88.png");
}

.main{
    /* max-width: calc(var(--max-page-width)-400px); */
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 10px;
}